/* Comments */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  /* background-color: #2196F3; */
  padding: 10px;
  grid-gap: 20px;
  align-content: center;
  grid-template-areas:
    '. . header header . .'
    '. . breakLabel sessionLabel . .'
    '. . timer timer . .'
    '. . start_stop start_stop . .'
    '. . footer footer . .';
}
.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.title {
  grid-area: header;
  font-size: 50px;
}

.breakLabel {
  grid-area: breakLabel;
}

.sessionLabel {
  grid-area: sessionLabel;
}

.timer {
  grid-area: timer;
}

.start_stop {
  grid-area: start_stop;
}

.refresh {
  grid-area: refresh;
}

body {
  background-color: lightgreen;
  justify-content: center;
}